<!DOCTYPE html>
<html xmls:th="http://www.thymeLeaf.org">
<head th:replace="fragment :: html_head">
</head>
<body>
	<div th:replace="fragment :: html_navbar"></div>
	<div class = "container">
	
		<h1>Welcome shopping page</h1>
		
		
		
		<div>
			 <a th:href="@{/categories}">List Categories</a>
			 <br>
			  <a th:href="@{/categories/new}">Create Category</a>
		</div>
		<br>
		<div>
			 <a th:href="@{/products}">List Product</a>
			 <br>
			  <a th:href="@{/products/new}">Create Products</a>
		</div>
		
		<div>
			 <a th:href="@{/brands}">List Brand</a>
			 <br>
			  <a th:href="@{/brands/new}">Create Brand</a>
		</div>
	</div>
	
	<div th:replace="fragment :: html_footer"></div>
</body>
</html>