<!DOCTYPE html>
<html xmls:th="http://www.thymeLeaf.org">
<head th:replace="fragment :: html_head">
</head>
<body>
	<div th:replace="fragment :: html_navbar"></div>
	<div class="container text-center">
		<h1>Product List</h1>

		<div>
			<a class = "btn btn-primary" th:href="@{/products/new}">Add New Product</a>
		</div>
		<br>
		
		<div>
			<table class="table table-striped">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col"> Image</th>
			      <th scope="col"> Name</th>
			      <th scope="col">Price</th>
			      <th scope="col"> Category</th>
			      
			   <!--    <th scope="col"> Detail</th> -->
			      <th scope="col"> Desciption</th>
			     <th scope="col"> Action</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<th:block th:each ="pro: ${listProduct}">
			    <tr>
			      	
			      	<td th:text = "${pro.id}"/>
			      	<td>
			      		<img src="#" height="100px" width="100px"
			      			th:src="@{${'/image/' + pro.imageName}}">
			      	
			      	</td>
			      	<!-- <td th:text = "${pro.name}"/> -->
			      	<td>
				      	<a th:href="@{'/products/view/' + ${pro.id}}"
				      			th:text = "${pro.name}"></a>
			      	</td>
					<td th:text = "${pro.price}"/>
					<td th:text = "${pro.category}"></td>
					<td th:text = "${pro.description}"></td>
					<!-- <td th:text = "${pro.details}"/>
 -->
			      	<td>
			      		<a th:href="@{'/products/edit/' + ${pro.id}}"
			      			class = "btn btn-primary">Update</a>
			      		<a th:href="@{'/products/delete/' + ${pro.id}}"
			      			class = "btn btn-danger">Delete</a>
			      	</td>
			    </tr> 
			   </th:block>
			  </tbody>
		</table>
		
		</div>
	
	</div>
	<div th:replace="fragment :: html_footer"></div>
</body>
</html>